@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Manrope', sans-serif;
  }

  html {
    font-size: 16px;
  }

  input[type='radio'] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }
}

@layer components {
  @media screen and (min-width: 768px) {
    .grid-gallery {
      grid-template-areas:
        'img1 img3'
        'img2 img3';
    }
  }
}

@layer utilities {
  .react-icons {
    @apply text-xl text-white;
  }

  .react-icons-footer {
    @apply min-h-[24px] min-w-[24px] text-xl text-white;
  }

  .react-icons-payment {
    @apply h-[64px] w-[64px];
  }

  .centered-axis-x {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .centered-axis-cart {
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .right-axis-cart {
    left: 90%;
    transform: translate(-90%, 0%);
  }

  .centered-axis-payment {
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .centered-text-x {
    width: 35ch;
  }

  .remove-bg {
    filter: brightness(1.1);
  }

  .blur-cart {
    filter: blur(3px);
    /* background: rgba(39, 40, 44, 0.7); */
  }
}
